.account-dropdown {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.account-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: start;
    justify-content: center;
    background-color: #f8f8f8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 0px;

}

.account-btn:hover {
    background-color: #f0f0f0; /* Slightly darker gray */
}

.account-btn .icon {
    color: #4b5563; /* Dark gray */
    transition: color 0.2s;
}

.account-btn:hover .icon {
    color: #000; /* Black on hover */
}

.dropdown-content {
    display: block;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 150px;
    gap: 10px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.dropdown-content p,
.dropdown-content button {
    margin: 5px 0;
    text-align: center;
}

.notification-dot {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
    animation: pulse 1.5s infinite;
  }
  
  .invite-pulse {
    animation: pulse 1.5s infinite;
    border: none;
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  
  @keyframes pulse {
    0% { box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.7); }
    70% { box-shadow: 0 0 0 10px rgba(0, 123, 255, 0); }
    100% { box-shadow: 0 0 0 0 rgba(0, 123, 255, 0); }
  }
  